.home {
  padding: .5rem;
  height: 15rem;
  margin-top: -20rem;
}

.portbg {
  height: 30rem;
  float: right;
  margin-top: -5rem;
}

.myname {
  margin-left: 10%;
}

@media all and (max-width: 500px) {
    .home{
      display: grid;
      justify-content: center;
      height: 40rem;
      margin-top: 5rem;
    }

    .portbg {
        height: 300%;
        // float: right;
        margin-top: 2rem;
        margin-left: 6rem;
      }

    .myname{
        margin-left: 5rem;
        margin-top: -5rem;
    }  
  }



.fname {
  height: 50%;
  width: 50%;
  padding: 0;
  margin: 0;
}

.lname {
  height: 40%;
  width: 40%;
  padding: 0;
  margin-left: 10%;
}

.social {
  font-size: 1.5rem;
  margin-left: 40%;
  width: fit-content;

  a {
    text-decoration: none;
    margin: 1rem 0.5rem;
    color: var(--clr-navtxt);
  }

  a:hover {
    color: var(--foreground);
  }
}

@media all and (max-width: 500px) {
  .social {
    margin-left: 30%;
    font-size: 1.05rem;
    margin-top: -2rem;

    a{
        margin: 1rem .2rem;
    }
  }
}

@media all and (max-width: 500px) {
  .fname svg{
    width: 120%;
    height: 120%;
    // margin-left: 15%;
    // margin-bottom: -5rem;
  }

  .lname svg{
    height: 120%;
    width: 130%;
    margin-top: -1rem;
    // margin-left: 20%;
  }
}

h3{
  color: var(--clr-navtxt);
  font-size: 3rem;
  margin-left: 10rem;
  font-family: 'Times New Roman', Times, serif;

  span{
    color: var(--foreground);
    font-family: 'Times New Roman', Times, serif;
  }
}

@media all and (max-width: 500px){
  .banner-area{
    margin-top: 13rem;
    height: 3rem;
  }

  h3{
    color: var(--clr-navtxt);
    font-size: 1.5rem;
    margin-left: 6rem;
    margin-top: 0rem;
    font-family: 'Times New Roman', Times, serif;
    width: 14rem;
  
    span{
      width: 14rem;
      color: var(--foreground);
      font-family: 'Times New Roman', Times, serif;
    }
  }  
}

.mobile-footer{
  height: 0rem;
}

@media all and (max-width: 500px){
  .mobile-footer{
    height: 2rem;
    background: var(--svg-clr);
    margin-bottom:0rem;
  }
}