.project-points{
  display: flex;
  margin-top: -30rem;
  height: 60rem;
  overflow: hidden;
  width: 100rem;

  img{
    filter: var(--img-brightness);
    z-index: -1;
  }
}

.project-details{
  display: grid;
  place-content: center;
  position: absolute;
  // background: var(--svg-clr);
  height: 25rem;
  width: 25rem;
  margin-left: 40rem;
  margin-top: -38rem;
  border-radius: 50%;
  opacity: 1;
  z-index: 3;

  a{
    color: var(--foreground);
    cursor: pointer;
    text-decoration: none;
    font-size: 5rem;
  }
  a:hover{
    text-decoration: underline;
  }
}

.project-details a.green:hover{ color: #1ace84; }
.project-details a.purple:hover { color: #a262c0; }
.project-details a.teal:hover { color: #4ac0aa; }
.project-details a.violet:hover { color: #8c78ba; }
.project-details a.pink:hover { color: #d529cd; }
.project-details a.b:hover { color: #159262; }
.project-details a.c:hover { color: #2982d5; }
.project-details a.d:hover { color: #c4d529; }
.project-details a.e:hover { color: #29d546; }
.project-details a.f:hover { color: #851a7f; }
.project-details a.g:hover { color: #e597e2; }
.project-details a.h:hover { color: #1f9e98; }
.project-details a.i:hover { color: #8d261f; }
.project-details a.j:hover { color: #067488; }
.project-details a.k:hover { color: #29d58d; }

.projects-main {
  height: 150rem;
  margin: 4rem 8rem;
  margin-bottom: 0;
  //background: pink;

  h1{
    font-size: 4rem;
  }
}

.projects {
  display: grid;
}

.project {
  display: grid;
  padding: 50px;
  //background: black;
  justify-content: center;
  // transition: all .5s ease-in-out;
  .project-description {
    background: rgb(53, 1, 66);
    position: absolute;
    margin-top: 78px;
    margin-left: 9.8rem;
  }
}

.project-description {
  opacity: 0;
  display: grid;
  padding: 50px;
  width: 950px;
  height: 550px;

  p {
    font-size: 1.8rem;
  }

  h1 {
    margin-top: -2.5rem;
    text-align: center;
    font-size: 3rem;
  }
}

.project:hover .project-description {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

.hover-to-descript{
  height: 600px; width: 1000px;
}

.explore-btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  background: transparent;
  border: 2px solid white;
  cursor: default;
  margin-top: 5rem;

  p {
    font-size: 1rem;
    color: white;
  }
}

.explore-btn2:hover {
  animation: shadow 0.5s ease 0s 1 normal forwards;
}

@keyframes shadow {
  0% {
    box-shadow: 0;
  }
  100% {
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.5),
      6px 6px 10px rgba(255, 255, 255, 0.5);
  }
}

.fixed {
  position: fixed;
  top: 10%;
  opacity: 1;
}

@media all and (max-width: 500px){
  .project-points{
    display: flex;
    margin-top: 0rem;
    height: 50rem;
    overflow: hidden;
    width: 25rem;

    img{
      width: 22rem;
      height: 45rem;
    }
  }
  .project-details{
    visibility: hidden;
    margin-top: 1rem;
    margin-left: 8.5rem;
    height: 8rem;
    width: 8rem;

    a{
      font-size: 1.4rem;
    }
  }
  .projects-main {
    height: 80;
    margin: 0rem 2rem;
    margin-left: 2rem;
    //background: pink;

    p{
      font-size: .7rem;
    }

    h1{
      font-size: 1.5rem;
    }
  }

  .project-description {
    opacity: .9;
    display: grid;
    padding: 1rem;
    width: 13rem;
    height: 8rem;
  
    p {
      font-size: .5rem;
    }
  
    h1 {
      margin-top: -.5rem;
      margin-left: -1rem;
      text-align: center;
      font-size: 1rem;
    }
  }

  .hover-to-descript{
    height: 150px; 
    width: 250px;
  }

  .project {
    display: grid;
    padding: 12px;
    //background: black;
    justify-content: center;
    // transition: all .5s ease-in-out;
    .project-description {
      background: rgb(53, 1, 66);
      position: absolute;
      margin-top: 1.5rem;
      margin-left: 2.8rem;
    }
  }

  .explore-btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 15px;
    background: transparent;
    border: 1px solid white;
    cursor: default;
    margin-top: 1rem;
    z-index: 7;
    margin-left: 6rem;
  
    p {
      font-size: .5rem;
      color: white;
    }
  }
}