.sp{
    height: 86px;
     width: 100px;
   float: left;
   /* background: red; */
   margin-top: -43px;
   margin-left: -100px;
 }
 
 .sp:hover{
   animation: color-rotate .7s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   /* animation-delay: 0ms; */
 }
 
 @keyframes color-rotate{
   from{
       filter: hue-rotate(0deg);
   }
   to{
       filter: hue-rotate(360deg);
   }
 }