:root {
  --clr-light: #ffffff;
  --clr-dark: #f02749;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;
  --clr-mobile-menu: rgb(214, 153, 255);
  --clr-navtxt: rgb(86, 3, 107);

  // --clr-navbg: linear-gradient(to left, #9796f0, #fbc7d4);
  --clr-navbg: white;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);
  --body-bg: var(--clr-navbg);
  --nav-li-bg: white;

  --clr-outline: #a2d9ff;
  --clr-scrl-track: white;
  --clr-scrl-thumb: linear-gradient(to bottom, #9796f0, #fbc7d4);

  --clr-tooltip-bg: transparent;
  --clr-tooltip-text: rgb(86, 3, 107);

  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;

  --shadow-left: #ffffff;
  --shadow-right: #000000;
  --shadow-outline: #a2d9ff;

  --opaci: 1;

  /*Profile Section*/
  --quotes-background: rgb(255, 227, 255);
  --h1-clr: #f02749;
  --p-clr: rgb(112, 112, 112);
  --focus-clr: blue;
  --svg-clr: #a2d9ff;
  --black-opaci: rgba(0, 0, 0, 0.2);

  /*Projects Section*/
  --img-brightness: brightness(100%);
  --social-hover: #9e011c;
}

.darkmode {
  --clr-light: rgb(56, 255, 162); /*#14eb87*/
  --clr-dark: #201f25;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;
  --clr-mobile-menu: rgb(140, 28, 168);
  --clr-navtxt: white;

  --clr-navbg: #201f25;
  --nav-li-bg: #201f25;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  --body-bg: var(--clr-navbg);

  --clr-outline: ##201f25;
  --clr-scrl-track: #201f25;
  --clr-scrl-thumb: linear-gradient(to bottom, #201f25, #33323b);

  --clr-tooltip-bg: transparent;
  --clr-tooltip-text: white;
  // --shadow-left: #000000;
  // --shadow-right: #ffffff;
  --shadow-outline: #020842;
  --opaci: 1;

  /*Profile Section*/
  --quotes-background: rgb(34, 28, 34);
  --h1-clr: rgb(56, 255, 162);
  --p-clr: rgb(204, 204, 204);
  --focus-clr: rgb(144, 144, 248);
  --svg-clr: #020842;
  --black-opaci: rgba(0, 0, 0, 0.8);

  /*Projects Section*/
  --img-brightness: brightness(80%);
  --social-hover: rgb(0, 104, 55);
}
