@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  //overflow: hidden;
  transition: background-color 0.5s ease;
  --transition-delay: 0.1s;
  background: var(--body-bg);
  color: var(--foreground);
  font-family: var(--ff-body);
  font-size: 18px;
  line-height: 1.6;
}

body.dark {
  transition: background-color 0.5s ease;
}

h1 {
  font-size: 3rem;
  font-family: tahoma;
  font-weight: 100;
}


@import "./intro";

/* SCROLLBAR DESIGN */

body::-webkit-scrollbar {
  width: 0.4rem;

  /* height: 2rem; HEIGHT CAN NOT BE APPLIED AS BROWSER ADJUSTS THE HEIGHT ACCORDING TO THE CONTENT*/
}
body::-webkit-scrollbar-track {
  background: var(--clr-scrl-track);
}
body::-webkit-scrollbar-thumb {
  background: var(--clr-scrl-thumb);
}

/*VARIABLES*/

@import "./variables";

/* MY LOGO ->  WORKING*/

@import "./splogo";

/* THEME STYLES -> WORKING */

// @import "./theme";

/* SUN MOON -> WORKING*/

//@import "./sunmoon";

/* NAVBAR -> TO BE UPDATED */

@import "./navbar";

/* OTHER STYLES - DISABLED */

// @import "./otherstyles";

/* TOOLTIP */

@import "./tooltip";

@import "./profile";

@import "./projects";

@import "./contact";

// @import "./gallery";

// @import "./svg";

.wrapper-home {
  position: absolute;
  width: 100%;
  height: 45rem;
  background: transparent;
  // overflow: hidden;
  .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
  }
}

.wrapper-profile {
  position: absolute;
  width: 100%;
  height: 45rem;
  background: transparent;
  // overflow: hidden;
  .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
  }
}

.wrapper-projects {
  position: absolute;
  width: 100%;
  height: 45rem;
  background: transparent;
  // overflow: hidden;
  .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
  }
}

.wrapper-contact {
  position: absolute;
  width: 100%;
  height: 45rem;
  background: transparent;
  // overflow: hidden;
  .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
  }
}

@import "./home";

@media all and (max-width: 500px){
  .wrapper-home {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 40rem;
    background: transparent;
    .ball {
      position: absolute;
      border-radius: 100%;
      opacity: 0.6;
    }
  }

  .wrapper-profile {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 160rem;
    background: transparent;
    .ball {
      position: absolute;
      border-radius: 100%;
      opacity: 0.6;
    }
  }

  .wrapper-projects {
    position: absolute;
    width: 100%;
    height: 96rem;
    background: transparent;
    overflow: hidden;
    .ball {
      position: absolute;
      border-radius: 100%;
      opacity: 0.6;
    }
  }
  
  .wrapper-contact {
    position: absolute;
    width: 100%;
    height: 68rem;
    background: transparent;
    overflow: hidden;
    .ball {
      position: absolute;
      border-radius: 100%;
      opacity: 0.6;
    }
  }
}

@media all and (max-width: 1100px) {
  svg{
    height: 50%;
    width: 100%;
  }
}
@media all and (max-width: 720px) {
  svg{
    height: 40%;
    width: 100%;
  }
}
@media all and (max-width: 500px) {
  .upper-svg{
    position: fixed;
    height: 35%;
    width: 100%;
    // margin-top: -20rem;
  }
}

.hide{
  height: 40.5rem;
  overflow: hidden;
}

@media all and (max-width: 500px) {
  .hide{
    height: 20.5rem;
    overflow: hidden;
  }
}