@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  --transition-delay: 0.1s;
  background: var(--body-bg);
  color: var(--foreground);
  font-family: var(--ff-body);
  font-size: 18px;
  line-height: 1.6;
}

body.dark {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

h1 {
  font-size: 3rem;
  font-family: tahoma;
  font-weight: 100;
}

/* SCROLLBAR DESIGN */
body::-webkit-scrollbar {
  width: 0.4rem;
  /* height: 2rem; HEIGHT CAN NOT BE APPLIED AS BROWSER ADJUSTS THE HEIGHT ACCORDING TO THE CONTENT*/
}

body::-webkit-scrollbar-track {
  background: var(--clr-scrl-track);
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-scrl-thumb);
}

/*VARIABLES*/
:root {
  --clr-light: #ffffff;
  --clr-dark: #f02749;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;
  --clr-mobile-menu: rgb(214, 153, 255);
  --clr-navtxt: rgb(86, 3, 107);
  --clr-navbg: white;
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
  --body-bg: var(--clr-navbg);
  --nav-li-bg: white;
  --clr-outline: #a2d9ff;
  --clr-scrl-track: white;
  --clr-scrl-thumb: linear-gradient(to bottom, #9796f0, #fbc7d4);
  --clr-tooltip-bg: transparent;
  --clr-tooltip-text: rgb(86, 3, 107);
  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;
  --shadow-left: #ffffff;
  --shadow-right: #000000;
  --shadow-outline: #a2d9ff;
  --opaci: 1;
  /*Profile Section*/
  --quotes-background: rgb(255, 227, 255);
  --h1-clr: #f02749;
  --p-clr: rgb(112, 112, 112);
  --focus-clr: blue;
  --svg-clr: #a2d9ff;
  --black-opaci: rgba(0, 0, 0, 0.2);
  /*Projects Section*/
  --img-brightness: brightness(100%);
  --social-hover: #9e011c;
}

.darkmode {
  --clr-light: rgb(56, 255, 162);
  /*#14eb87*/
  --clr-dark: #201f25;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;
  --clr-mobile-menu: rgb(140, 28, 168);
  --clr-navtxt: white;
  --clr-navbg: #201f25;
  --nav-li-bg: #201f25;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  --body-bg: var(--clr-navbg);
  --clr-outline: ##201f25;
  --clr-scrl-track: #201f25;
  --clr-scrl-thumb: linear-gradient(to bottom, #201f25, #33323b);
  --clr-tooltip-bg: transparent;
  --clr-tooltip-text: white;
  --shadow-outline: #020842;
  --opaci: 1;
  /*Profile Section*/
  --quotes-background: rgb(34, 28, 34);
  --h1-clr: rgb(56, 255, 162);
  --p-clr: rgb(204, 204, 204);
  --focus-clr: rgb(144, 144, 248);
  --svg-clr: #020842;
  --black-opaci: rgba(0, 0, 0, 0.8);
  /*Projects Section*/
  --img-brightness: brightness(80%);
  --social-hover: rgb(0, 104, 55);
}

/* MY LOGO ->  WORKING*/
.sp {
  height: 86px;
  width: 100px;
  float: left;
  /* background: red; */
  margin-top: -43px;
  margin-left: -100px;
}

.sp:hover {
  -webkit-animation: color-rotate .7s;
          animation: color-rotate .7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  /* animation-delay: 0ms; */
}

@-webkit-keyframes color-rotate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes color-rotate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

/* THEME STYLES -> WORKING */
/* SUN MOON -> WORKING*/
/* NAVBAR -> TO BE UPDATED */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  background: var(--svg-clr);
  z-index: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*nav.scroll {
    background-color: var(--clr-navbg);
  }*/
nav .logo {
  height: 7px;
  width: 7px;
  color: #b0aff7;
  font-size: 35px;
  font-weight: 600;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 8px;
}

nav ul li a {
  color: var(--clr-navtxt);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: var(--foreground);
  background: var(--clr-outline);
  border: none;
  -webkit-box-shadow: 0px 0px 0px 3px var(--shadow-outline), 4px 4px 8px var(--shadow-right), -4px -4px 8px var(--shadow-left);
          box-shadow: 0px 0px 0px 3px var(--shadow-outline), 4px 4px 8px var(--shadow-right), -4px -4px 8px var(--shadow-left);
}

nav ul li a:hover {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
  nav .logo {
    height: 5px;
    width: 5px;
    color: #b0aff7;
    font-size: 35px;
    font-weight: 600;
  }
  .sp {
    height: 66px;
    width: 80px;
    float: left;
    /* background: red; */
    margin-top: -33px;
    margin-left: -58px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  .sp {
    height: 66px;
    width: 80px;
    float: left;
    /* background: red; */
    margin-top: -33px;
    margin-left: -58px;
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: var(--clr-mobile-menu);
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
  }
  .content div {
    font-size: 40px;
    font-weight: 700;
  }
}

/* OTHER STYLES - DISABLED */
/* TOOLTIP */
/*tooltip Box*/
.con-tooltip {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: default;
}

/*tooltip */
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  width: auto;
  padding: 0px 20px;
  background: var(--clr-tooltip-bg);
  color: var(--clr-tooltip-text);
  position: absolute;
  top: -160%;
  left: 0%;
  font-family: ceribri, helvetica, arial, serif;
  font: 8px;
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tooltip p {
  margin-top: 1rem;
}

/* tooltip  after*/
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  left: 40%;
  top: 10%;
}

.con-tooltip:hover .tooltip {
  visibility: visible;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 1;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-animation: odsoky 1s ease-in-out infinite  alternate;
          animation: odsoky 1s ease-in-out infinite  alternate;
}

@-webkit-keyframes odsoky {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

@keyframes odsoky {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

/*hover ToolTip*/
.bottom:hover {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

/*bottom*/
.bottom .tooltip {
  top: 115%;
  left: -55%;
}

.bottom .tooltip::after {
  top: -17%;
  left: 40%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.details-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.mypic-container {
  border-radius: 50%;
  height: 25rem;
  width: 25rem;
  margin-top: 18rem;
  margin-left: 20rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  padding: 0;
}

.mypic {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  width: 100%;
  -webkit-filter: var(--img-brightness);
          filter: var(--img-brightness);
}

.mypic-container:hover .mypic {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-container {
  display: -ms-grid;
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: -10rem;
}

.focus {
  color: var(--focus-clr);
  font-weight: 500;
}

.focus2 {
  color: var(--h1-clr);
  font-weight: 700;
}

.main-details {
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 7rem;
  margin-left: 1rem;
  place-content: center;
}

.main-details h1 {
  margin: 25px 5px;
  color: var(--p-clr);
}

.main-details p {
  color: var(--p-clr);
  margin: 5px;
}

.hire-me {
  width: 8rem;
  height: 3rem;
  margin-top: 2rem;
  margin-left: 4rem;
  border-radius: 1.2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.09s ease-in-out;
  transition: all 0.09s ease-in-out;
  -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8), 6px 6px 10px var(--black-opaci);
          box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8), 6px 6px 10px var(--black-opaci);
  color: var(--foreground);
}

.hire-me p {
  margin-top: 0.7rem;
  font-size: 1.2rem;
}

.hire-me i {
  position: absolute;
  margin-top: -2.8rem;
  margin-left: -0.5rem;
  font-size: 1.6rem;
  opacity: 0;
}

.hire-me:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8), 6px 6px 10px var(--black-opaci);
          box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8), 6px 6px 10px var(--black-opaci);
}

.hire-me:hover p {
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.hire-me:hover i {
  opacity: 1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.hire-me:active {
  opacity: 1;
  -webkit-box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 6px 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 6px 6px 10px rgba(0, 0, 0, 0.1);
  color: #eeff00;
}

.hire-me:active i {
  -webkit-transition: 0.001s ease;
  transition: 0.001s ease;
}

#cv {
  width: 15rem;
  margin-top: -3rem;
  margin-left: 15rem;
}

#cv p {
  margin-top: 0.7rem;
  pointer-events: none;
}

.slider {
  margin-top: 0px;
  background: red;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: yellow;
}

.slides input {
  display: none;
}

.slide {
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: var(--quotes-background);
  width: 20%;
  margin-top: 0px;
  height: 200px;
  -webkit-transition: 1s;
  transition: 1s;
}

.slide p {
  text-align: center;
}

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-left: 350px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

.radio {
  margin-left: 400px;
}

#radio1 {
  margin-left: 400px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 160px;
  margin-left: 350px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 3px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}

p .author {
  text-align: right;
}

/*MINI BAR SECTION*/
.mini-bar {
  min-height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  place-content: center;
  margin: 50px 100px;
  border-radius: 50px;
  background: var(--clr-navbg);
  -webkit-box-shadow: -0.5px -0.5px 1px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -0.5px -0.5px 1px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.mini-bar .bar-items {
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
  width: 300px;
  height: 250px;
  margin: 50px;
}

.mini-bar .bar-items p {
  margin: 20px;
  font-size: 1.5rem;
  color: var(--clr-navtxt);
}

.mini-bar .bar-items div {
  margin: 20px;
  font-size: 3.5rem;
}

/* WHAT I DO SECTION */
.what-i-do {
  margin: 20px 100px;
  min-height: 2640px;
}

.what-i-do h1 {
  font-size: 4rem;
}

.wid-items {
  display: -ms-grid;
  display: grid;
}

.wid-items img {
  height: 600px;
  width: 1000px;
}

.wid-item1 {
  display: -ms-grid;
  display: grid;
  padding: 50px;
  position: absolute;
}

.wid-item1 .wid-box {
  background: #350142;
  position: absolute;
  margin-top: 8rem;
  margin-left: 55rem;
}

.wid-item2 {
  display: -ms-grid;
  display: grid;
  padding: 50px;
  position: absolute;
  margin-top: 50rem;
  margin-left: 14rem;
}

.wid-item2 .wid-box {
  background: #01472a;
  position: absolute;
  margin-top: 8rem;
  margin-left: -16rem;
}

.wid-item3 {
  display: -ms-grid;
  display: grid;
  padding: 50px;
  position: absolute;
  margin-top: 100rem;
}

.wid-item3 .wid-box {
  background: #704401;
  position: absolute;
  margin-top: 8rem;
  margin-left: 55rem;
}

.wid-box {
  display: -ms-grid;
  display: grid;
  padding: 50px;
  width: 500px;
  height: 350px;
}

.wid-box p {
  font-size: 1.8rem;
}

.wid-box h1 {
  font-size: 3rem;
  margin-top: -2.5rem;
}

.explore-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 60px;
  background: transparent;
  border: 2px solid white;
  cursor: default;
}

.explore-btn p {
  font-size: 1rem;
  color: white;
}

.explore-btn:hover {
  -webkit-animation: shadow 0.5s ease 0s 1 normal forwards;
          animation: shadow 0.5s ease 0s 1 normal forwards;
}

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  100% {
    -webkit-box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.5), 6px 6px 10px rgba(255, 255, 255, 0.5);
            box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.5), 6px 6px 10px rgba(255, 255, 255, 0.5);
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  100% {
    -webkit-box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.5), 6px 6px 10px rgba(255, 255, 255, 0.5);
            box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.5), 6px 6px 10px rgba(255, 255, 255, 0.5);
  }
}

.footer {
  padding: 20px 100px;
}

.footer div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer h1 {
  color: var(--clr-navtxt);
  margin-top: -6rem;
  font-size: 2rem;
}

.footer span {
  color: var(--h1-clr);
  font-weight: 600;
}

.footer P {
  font-size: 0.8rem;
  color: gray;
  margin-top: 50px;
}

.footer hr {
  width: 100%;
}

@media all and (max-width: 500px) {
  .details-div {
    margin-top: 17rem;
  }
  .mypic-container {
    height: 10rem;
    width: 10rem;
    margin-left: 11rem;
    margin-top: -3rem;
  }
  .main-container {
    display: -ms-grid;
    display: grid;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 2rem;
    margin-top: -4rem;
  }
  .focus {
    color: var(--focus-clr);
    font-weight: 500;
  }
  .focus2 {
    color: var(--h1-clr);
    font-weight: 700;
  }
  .main-details {
    width: 18rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0;
    margin-left: 0;
    padding: .2rem;
  }
  .main-details h1 {
    margin: 0px 0px;
    color: var(--p-clr);
    font-size: 1.4rem;
  }
  .main-details p {
    font-size: 0.9rem;
  }
  .hire-me {
    width: 5rem;
    height: 2rem;
    margin-top: 0.8rem;
    margin-left: 0.3rem;
    border-radius: 0.7rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.09s ease-in-out;
    transition: all 0.09s ease-in-out;
    -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8), 6px 6px 10px var(--black-opaci);
            box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8), 6px 6px 10px var(--black-opaci);
    color: var(--foreground);
  }
  .hire-me p {
    margin-top: 0.2rem;
    font-size: 0.9rem;
  }
  .hire-me i {
    position: absolute;
    margin-top: -2rem;
    margin-left: -0.5rem;
    font-size: 1rem;
    opacity: 0;
  }
  .hire-me:hover {
    -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8), 6px 6px 10px var(--black-opaci);
            box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8), 6px 6px 10px var(--black-opaci);
  }
  .hire-me:hover p {
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .hire-me:hover i {
    opacity: 1;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  .hire-me:active {
    opacity: 1;
    -webkit-box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 6px 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 6px 6px 10px rgba(0, 0, 0, 0.1);
    color: #eeff00;
  }
  .hire-me:active i {
    -webkit-transition: 0.001s ease;
    transition: 0.001s ease;
  }
  #cv {
    width: 10rem;
    margin-top: -2rem;
    margin-left: 6rem;
  }
  #cv p {
    margin-top: 0.3rem;
    pointer-events: none;
  }
  .slider {
    margin-top: 0px;
    background: red;
    width: 100%;
    height: 6rem;
    margin-top: 3rem;
    overflow: hidden;
  }
  .slides {
    width: 500%;
    height: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: yellow;
  }
  .slides input {
    display: none;
  }
  .slide {
    display: -ms-grid;
    display: grid;
    place-content: center;
    background: var(--quotes-background);
    width: 20%;
    padding: 0.5rem;
    margin-top: 0rem;
    height: 6rem;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slide p {
    text-align: center;
    font-size: 1rem;
  }
  .mini-bar {
    height: 50rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    place-content: center;
    margin: 3rem 2rem;
    border-radius: 4rem;
    background: var(--clr-navbg);
    -webkit-box-shadow: -0.5px -0.5px 1px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
            box-shadow: -0.5px -0.5px 1px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  }
  .mini-bar .bar-items {
    display: -ms-grid;
    display: grid;
    place-content: center;
    text-align: center;
    width: 10rem;
    height: 5rem;
    margin: 4rem;
  }
  .mini-bar .bar-items p {
    margin: 0.8rem;
    font-size: 1rem;
    color: var(--clr-navtxt);
  }
  .mini-bar .bar-items div {
    margin: 20px;
    font-size: 1.5rem;
  }
  .what-i-do {
    margin: 20px 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .what-i-do p {
    font-size: 0.8rem;
  }
  .what-i-do h1 {
    font-size: 2rem;
  }
  .wid-items {
    display: -ms-grid;
    display: grid;
  }
  .wid-items img {
    height: 150px;
    width: 250px;
  }
  .wid-item1 {
    display: -ms-grid;
    display: grid;
    padding: 12px;
    position: absolute;
  }
  .wid-item1 .wid-box {
    background: #350142;
    position: absolute;
    margin-top: 2rem;
    margin-left: 10rem;
  }
  .wid-item2 {
    display: -ms-grid;
    display: grid;
    padding: 12px;
    position: absolute;
    margin-top: 15rem;
    margin-left: 3rem;
  }
  .wid-item2 .wid-box {
    background: #01472a;
    position: absolute;
    margin-top: 2rem;
    margin-left: -1rem;
  }
  .wid-item3 {
    display: -ms-grid;
    display: grid;
    padding: 50px;
    position: absolute;
    margin-top: 28rem;
    margin-left: -3rem;
  }
  .wid-item3 .wid-box {
    background: #704401;
    position: absolute;
    margin-top: 4.5rem;
    margin-left: 13rem;
  }
  .wid-box {
    display: -ms-grid;
    display: grid;
    padding: 50px;
    width: 125px;
    height: 88px;
  }
  .wid-box p {
    font-size: 1rem;
    margin-top: -2.5rem;
  }
  .wid-box h1 {
    margin-top: -.9rem;
    font-size: 1.2rem;
    margin-left: -2rem;
  }
  .explore-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 5rem;
    height: 20px;
    margin-top: .5rem;
    margin-left: -2rem;
    background: transparent;
    border: 0.5px solid white;
    cursor: default;
  }
  .explore-btn p {
    font-size: 0.5rem;
    color: white;
    margin-top: 0.1rem;
  }
  .footer {
    padding: 20px 25px;
    margin-top: -20rem;
  }
  .footer div {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer h1 {
    color: var(--clr-navtxt);
    margin-top: -6rem;
    font-size: 1.5rem;
  }
  .footer span {
    color: var(--h1-clr);
    font-weight: 600;
  }
  .footer P {
    font-size: 0.6rem;
    color: gray;
    margin-top: 20px;
  }
  .footer hr {
    width: 100%;
  }
}

.project-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -30rem;
  height: 60rem;
  overflow: hidden;
  width: 100rem;
}

.project-points img {
  -webkit-filter: var(--img-brightness);
          filter: var(--img-brightness);
  z-index: -1;
}

.project-details {
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: absolute;
  height: 25rem;
  width: 25rem;
  margin-left: 40rem;
  margin-top: -38rem;
  border-radius: 50%;
  opacity: 1;
  z-index: 3;
}

.project-details a {
  color: var(--foreground);
  cursor: pointer;
  text-decoration: none;
  font-size: 5rem;
}

.project-details a:hover {
  text-decoration: underline;
}

.project-details a.green:hover {
  color: #1ace84;
}

.project-details a.purple:hover {
  color: #a262c0;
}

.project-details a.teal:hover {
  color: #4ac0aa;
}

.project-details a.violet:hover {
  color: #8c78ba;
}

.project-details a.pink:hover {
  color: #d529cd;
}

.project-details a.b:hover {
  color: #159262;
}

.project-details a.c:hover {
  color: #2982d5;
}

.project-details a.d:hover {
  color: #c4d529;
}

.project-details a.e:hover {
  color: #29d546;
}

.project-details a.f:hover {
  color: #851a7f;
}

.project-details a.g:hover {
  color: #e597e2;
}

.project-details a.h:hover {
  color: #1f9e98;
}

.project-details a.i:hover {
  color: #8d261f;
}

.project-details a.j:hover {
  color: #067488;
}

.project-details a.k:hover {
  color: #29d58d;
}

.projects-main {
  height: 150rem;
  margin: 4rem 8rem;
  margin-bottom: 0;
}

.projects-main h1 {
  font-size: 4rem;
}

.projects {
  display: -ms-grid;
  display: grid;
}

.project {
  display: -ms-grid;
  display: grid;
  padding: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project .project-description {
  background: #350142;
  position: absolute;
  margin-top: 78px;
  margin-left: 9.8rem;
}

.project-description {
  opacity: 0;
  display: -ms-grid;
  display: grid;
  padding: 50px;
  width: 950px;
  height: 550px;
}

.project-description p {
  font-size: 1.8rem;
}

.project-description h1 {
  margin-top: -2.5rem;
  text-align: center;
  font-size: 3rem;
}

.project:hover .project-description {
  opacity: 0.8;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hover-to-descript {
  height: 600px;
  width: 1000px;
}

.explore-btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 60px;
  background: transparent;
  border: 2px solid white;
  cursor: default;
  margin-top: 5rem;
}

.explore-btn2 p {
  font-size: 1rem;
  color: white;
}

.explore-btn2:hover {
  -webkit-animation: shadow 0.5s ease 0s 1 normal forwards;
          animation: shadow 0.5s ease 0s 1 normal forwards;
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  100% {
    -webkit-box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.5), 6px 6px 10px rgba(255, 255, 255, 0.5);
            box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.5), 6px 6px 10px rgba(255, 255, 255, 0.5);
  }
}

.fixed {
  position: fixed;
  top: 10%;
  opacity: 1;
}

@media all and (max-width: 500px) {
  .project-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0rem;
    height: 50rem;
    overflow: hidden;
    width: 25rem;
  }
  .project-points img {
    width: 22rem;
    height: 45rem;
  }
  .project-details {
    visibility: hidden;
    margin-top: 1rem;
    margin-left: 8.5rem;
    height: 8rem;
    width: 8rem;
  }
  .project-details a {
    font-size: 1.4rem;
  }
  .projects-main {
    height: 80;
    margin: 0rem 2rem;
    margin-left: 2rem;
  }
  .projects-main p {
    font-size: .7rem;
  }
  .projects-main h1 {
    font-size: 1.5rem;
  }
  .project-description {
    opacity: .9;
    display: -ms-grid;
    display: grid;
    padding: 1rem;
    width: 13rem;
    height: 8rem;
  }
  .project-description p {
    font-size: .5rem;
  }
  .project-description h1 {
    margin-top: -.5rem;
    margin-left: -1rem;
    text-align: center;
    font-size: 1rem;
  }
  .hover-to-descript {
    height: 150px;
    width: 250px;
  }
  .project {
    display: -ms-grid;
    display: grid;
    padding: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project .project-description {
    background: #350142;
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 2.8rem;
  }
  .explore-btn2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70px;
    height: 15px;
    background: transparent;
    border: 1px solid white;
    cursor: default;
    margin-top: 1rem;
    z-index: 7;
    margin-left: 6rem;
  }
  .explore-btn2 p {
    font-size: .5rem;
    color: white;
  }
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -23rem 8rem;
  margin-bottom: 0rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.contact-main {
  width: 600px;
  min-height: 350px;
  background: rgba(255, 255, 255, 0);
  margin-bottom: 200px;
  /*box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.2),
                0px -2px 5px rgba(0, 0, 0, 0.2);*/
}

.get-in-touch {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 600px;
  min-height: 400px;
  background: rgba(168, 252, 218, 0);
  margin-bottom: 200px;
}

.get-in-touch hr {
  width: auto;
  height: 1px;
  border: 1px solid black;
}

.ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ad i,
.ad p {
  margin-left: 20px;
}

.ad h1 {
  margin-left: 70px;
}

.s-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s-links a {
  margin: 0px 20px;
  font-size: 2rem;
  text-decoration: none;
  color: var(--foreground);
}

.s-links a:hover {
  color: var(--social-hover);
}

/*Custom Styles*/
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="text"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: transparent;
  /*var(--background);*/
  padding: 25px;
  margin: 0px 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact input,
#contact textarea {
  color: var(--foreground);
}

#contact h1 {
  font-family: ButlerBold;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: var(--background);
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--foreground);
  color: var(--background);
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: var(--social-hover);
  -webkit-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

@media all and (max-width: 500px) {
  .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 8rem 1rem;
    margin-bottom: 0rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .get-in-touch {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 330px;
    height: 300px;
    background: rgba(168, 252, 218, 0);
    margin-bottom: 0px;
    margin-top: -10rem;
  }
  .ad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ad i,
  .ad p {
    margin-left: 20px;
    font-size: 1rem;
  }
  .ad h1 {
    margin-left: 70px;
  }
  .s-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .s-links a {
    margin: 10px 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--foreground);
  }
}

.wrapper-home {
  position: absolute;
  width: 100%;
  height: 45rem;
  background: transparent;
}

.wrapper-home .ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
}

.wrapper-profile {
  position: absolute;
  width: 100%;
  height: 45rem;
  background: transparent;
}

.wrapper-profile .ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
}

.wrapper-projects {
  position: absolute;
  width: 100%;
  height: 45rem;
  background: transparent;
}

.wrapper-projects .ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
}

.wrapper-contact {
  position: absolute;
  width: 100%;
  height: 45rem;
  background: transparent;
}

.wrapper-contact .ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
}

.home {
  padding: .5rem;
  height: 15rem;
  margin-top: -20rem;
}

.portbg {
  height: 30rem;
  float: right;
  margin-top: -5rem;
}

.myname {
  margin-left: 10%;
}

@media all and (max-width: 500px) {
  .home {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40rem;
    margin-top: 5rem;
  }
  .portbg {
    height: 300%;
    margin-top: 2rem;
    margin-left: 6rem;
  }
  .myname {
    margin-left: 5rem;
    margin-top: -5rem;
  }
}

.fname {
  height: 50%;
  width: 50%;
  padding: 0;
  margin: 0;
}

.lname {
  height: 40%;
  width: 40%;
  padding: 0;
  margin-left: 10%;
}

.social {
  font-size: 1.5rem;
  margin-left: 40%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.social a {
  text-decoration: none;
  margin: 1rem 0.5rem;
  color: var(--clr-navtxt);
}

.social a:hover {
  color: var(--foreground);
}

@media all and (max-width: 500px) {
  .social {
    margin-left: 30%;
    font-size: 1.05rem;
    margin-top: -2rem;
  }
  .social a {
    margin: 1rem .2rem;
  }
}

@media all and (max-width: 500px) {
  .fname svg {
    width: 120%;
    height: 120%;
  }
  .lname svg {
    height: 120%;
    width: 130%;
    margin-top: -1rem;
  }
}

h3 {
  color: var(--clr-navtxt);
  font-size: 3rem;
  margin-left: 10rem;
  font-family: 'Times New Roman', Times, serif;
}

h3 span {
  color: var(--foreground);
  font-family: 'Times New Roman', Times, serif;
}

@media all and (max-width: 500px) {
  .banner-area {
    margin-top: 13rem;
    height: 3rem;
  }
  h3 {
    color: var(--clr-navtxt);
    font-size: 1.5rem;
    margin-left: 6rem;
    margin-top: 0rem;
    font-family: 'Times New Roman', Times, serif;
    width: 14rem;
  }
  h3 span {
    width: 14rem;
    color: var(--foreground);
    font-family: 'Times New Roman', Times, serif;
  }
}

.mobile-footer {
  height: 0rem;
}

@media all and (max-width: 500px) {
  .mobile-footer {
    height: 2rem;
    background: var(--svg-clr);
    margin-bottom: 0rem;
  }
}

@media all and (max-width: 500px) {
  .wrapper-home {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 40rem;
    background: transparent;
  }
  .wrapper-home .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
  }
  .wrapper-profile {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 160rem;
    background: transparent;
  }
  .wrapper-profile .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
  }
  .wrapper-projects {
    position: absolute;
    width: 100%;
    height: 96rem;
    background: transparent;
    overflow: hidden;
  }
  .wrapper-projects .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
  }
  .wrapper-contact {
    position: absolute;
    width: 100%;
    height: 68rem;
    background: transparent;
    overflow: hidden;
  }
  .wrapper-contact .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
  }
}

@media all and (max-width: 1100px) {
  svg {
    height: 50%;
    width: 100%;
  }
}

@media all and (max-width: 720px) {
  svg {
    height: 40%;
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  .upper-svg {
    position: fixed;
    height: 35%;
    width: 100%;
  }
}

.hide {
  height: 40.5rem;
  overflow: hidden;
}

@media all and (max-width: 500px) {
  .hide {
    height: 20.5rem;
    overflow: hidden;
  }
}
/*# sourceMappingURL=style.css.map */